<% layout("layouts/boilerplate") %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <form
        action="/campgrounds"
        method="POST"
        novalidate
        class="validated-form"
        id="campgroundForm"
        enctype="multipart/form-data"
    >
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input
                class="form-control"
                type="text"
                required
                name="title"
                id="title"
            />
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <div id="map" class="mt-6"></div>
            <input
                class="form-control"
                type="text"
                required
                name="location[name]"
                id="location"
                placeholder="Location Name"
            />
            <input
                class="form-control"
                type="hidden"
                required
                name="location[lat]"
                id="lat"
                value="-33.8688"
            />
            <input
                class="form-control"
                type="hidden"
                required
                name="location[lng]"
                id="lng"
                value="151.2093"
            />
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Campground Price</label>
            <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input
                    class="form-control"
                    step="0.01"
                    min="0"
                    type="number"
                    name="price"
                    placeholder="0.00"
                    id="price"
                    aria-describedby="price-label"
                    required
                />
                <div class="valid-feedback">Looks good!</div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea
                class="form-control"
                type="text"
                name="description"
                required
            ></textarea>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="images"
                >Images (Total upload size: <span id="totalSize"></span>MB, No
                images uploaded: <span id="totalNoImg"></span>)</label
            >
            <input
                class="form-control"
                type="file"
                name="images"
                multiple="true"
                id="images"
                accept="image/png, image/jpeg, image/webp, image/jpg"
                required
            />
            <div class="valid-feedback">Looks good!</div>
            <p id="errorMsg" style="color: red"></p>
        </div>
        <div class="mb-3">
            <div id="file-list"></div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
<script>
    const maptilerApiKey = "<%= process.env.MAPTILER_API_KEY %>";
</script>
<% block('scripts').append(`
<script src="/js/validateForms.js"></script>
<script src="/js/imageSelector.js"></script>
<script src="/js/locationSearch.js"></script>
`) %>
